body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ecedf6;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: Arial;
  }

#menu {
    background-color: white;
    width: 350px;
    height: 100vh;
    padding: 15px;
    box-shadow: 5px 5px 15px #cfcfcf;
    z-index: 10;
}

p {
    font-size: 14px;
}


.main-title {
    margin: 0;
    margin-bottom: 10px;
}

.basic-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
}

.filename {
    height: 30px;
    border-color: #415A77;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.btn {
    background-color: #415A77;
    border-radius: 4px;
    width: 100%;
    color: white;
    height: 40px;
    outline: none;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer; 
}

.caution {
    background-color: #b95757;
}

.plan-view {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    flex: 1,
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: rgb(196, 196, 196);
    border-radius: 100px;
}

.range {
    width: 100%;
    background: #415A77;
}


